:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

article.card {
  display: flex;
  gap: var(--card-padding);
  padding: var(--card-padding);
  align-items: center;

  h1 {
    font-size: var(--font-heading);
    font-weight: bold;
  }

  h1 + p {
    font-weight: bold;
    color: rgb(118, 178, 200);
  }

  img {
    width: var(--image-width);
    border-radius: 100%;
  }

  ul.socials {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;

    li {
      list-style: none;
    }

    svg {
      --size: 1.5rem;
      width: var(--size);
      height: var(--size);
      color: var(--color-icon);
    }
  }
}
