:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 0;
}

/* Begynd her... */

main {
  max-width: 1100px;
  margin: auto;
}

article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

h1 {
  font-size: 3rem;
  color: var(--color-heading);
}

p {
  size: 1rem;
  color: var(--color-body);
}

a {
  color: var(--color-text-button);
  background-color: var(--color-bg-button);
  padding: 1rem;
}

#gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
}

img {
  border-radius: 2rem;
}

#gallery img:nth-child(1),
#gallery img:nth-child(7) {
  grid-column: 2;
}

#gallery :nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
