:root {
  --color-heading: #0b0d19;
  --color-body: #677386;
  --color-bg-button: #3d7bfa;
  --color-text-button: #fff;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */

main {
  display: grid;
  grid-template-columns: 1fr minmax(330px, 1120px) 1fr;
  font-family: system-ui;
}

article {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 2rem;

  > * {
    align-content: center;
  }

  #card {
    > * + * {
      margin-block-start: var(--flow-space, 1em);
    }

    h1 {
      font-size: 4rem;
      font-weight: 700;
      color: var(--color-heading);
    }

    p {
      color: var(--color-body);
      line-height: 1.5;
    }

    a {
      --flow-space: 3rem;
      display: inline-block;
      color: var(--color-text-button);
      background: var(--color-bg-button);
      padding: 0.75rem 1.5rem;
      border-radius: 25px;
      text-decoration: none;
    }
  }

  #gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 0;

    > * {
      border-radius: 25px;
      box-shadow: 0 12px 24px #0002;
    }

    :nth-child(3) {
      grid-row: 2 / 4;
    }

    :is(:nth-child(1), :nth-child(3), :nth-child(7)) {
      grid-column: 2;
    }

    :is(:nth-child(2), :nth-child(5)) {
      grid-column: 1;
    }
  }
}
